#hero {
  background: rgb(230, 230, 230);
  position: relative;
  margin-bottom: 60px;
  overflow: hidden;
}
#hero .after {
  position: absolute;
  bottom: 0;
  left: 0;
}
#hero .befor {
  position: absolute;
  top: 0;
  left: 50%;
}
#hero .befoors {
  position: absolute;
  top: 0;
  left: 0;
}
#hero .before {
  position: absolute;
  bottom: 0;
  left: 55%;
}
#hero .karam {
  position: absolute;
  right: -100px;
  bottom: -30px;
}

.hero {
  padding: 200px 0 200px 0;
}
.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: rgb(33, 37, 41);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.48px;
  text-align: left;
  position: relative;
}
.hero__text .perecant {
  color: rgb(245, 62, 50);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.48px;
  text-align: left;
}
.hero__text .perecant::before {
  content: "";
  position: absolute;
  left: 0;
  top: 25px;
  height: 0.5px;
  width: 50px;
  background-color: rgb(245, 62, 50);
  height: 2px;
  width: 50px;
  border-bottom: 1px solid;
}
.hero__title {
  max-width: 522.06px;
  color: #000;
  font-family: Arial;
  font-size: 55px;
  font-weight: 900;
  line-height: 68px;
  letter-spacing: 0.48px;
  text-align: left;
  padding: 15px 0 25px 0;
}
.hero__list {
  max-width: 488px;
  color: rgb(122, 122, 122);
  font-size: 15px;
  font-weight: 400;
  line-height: 26.25px;
  letter-spacing: 0.48px;
  text-align: left;
}
.hero__input {
  margin-top: 40px;
  padding: 0 0 0 60px;
  border-radius: 50px;
  border: 1px solid #fff;
  background-color: #fff;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.hero__input img {
  position: absolute;
  left: 25px;
}
.hero__input input {
  border: none;
}
.hero__input input::-webkit-input-placeholder {
  color: rgb(131, 131, 131);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.hero__input input::-moz-placeholder {
  color: rgb(131, 131, 131);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.hero__input input:-ms-input-placeholder {
  color: rgb(131, 131, 131);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.hero__input input::-ms-input-placeholder {
  color: rgb(131, 131, 131);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.hero__input input::placeholder {
  color: rgb(131, 131, 131);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.hero__input button {
  padding: 22px 40px;
  border-radius: 50px;
  background: rgb(59, 183, 126);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}