.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 50px;
  .product-1 {
    background-image: url(../../assets/images/product-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    p {
      color: rgb(37, 61, 78);
      font-size: 24px;
      font-weight: 700;
      line-height: 28.8px;
      letter-spacing: 0%;
      text-align: left;
      padding-bottom: 30px;
      //   max-width: 203px;
      padding: 70px 15px 30px 50px;
    }
    .buttons {
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      line-height: 15.6px;
      letter-spacing: 0.5px;
      display: flex;
      align-items: none;
      justify-content: none;
      border-radius: 4px;
      padding: 8px 13px;
      background: rgb(245, 62, 50);
      margin: 0 0 70px 50px;
    }
  }
  .product-2 {
    background-image: url(../../assets/images/product-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    p {
      color: rgb(37, 61, 78);
      font-size: 24px;
      font-weight: 700;
      line-height: 28.8px;
      letter-spacing: 0%;
      text-align: left;
      padding-bottom: 30px;
      //   max-width: 203px;
      padding: 70px 15px 30px 50px;
    }
    .buttons {
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      line-height: 15.6px;
      letter-spacing: 0.5px;
      display: flex;
      align-items: none;
      justify-content: none;
      border-radius: 4px;
      padding: 8px 13px;
      background: rgb(245, 62, 50);
      margin: 0 0 70px 50px;
    }
  }
  .product-3 {
    background-image: url(../../assets/images/product-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    p {
      color: rgb(37, 61, 78);
      font-size: 24px;
      font-weight: 700;
      line-height: 28.8px;
      letter-spacing: 0%;
      text-align: left;
      padding-bottom: 30px;
      //   max-width: 203px;
      padding: 70px 15px 30px 50px;
    }
    .buttons {
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      line-height: 15.6px;
      letter-spacing: 0.5px;
      display: flex;
      align-items: none;
      justify-content: none;
      border-radius: 4px;
      padding: 8px 13px;
      background: rgb(245, 62, 50);
      margin: 0 0 70px 50px;
    }
  }
}
